.font-style {
	font-family: 'Open Sans', sans-serif !important;
}
#body_Page {
	display: none;
}
#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color:#F5F5F5;
	background-image: url(../home_assets/img/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}
/*-- Header --*/
#header{
	position: fixed;
	width: 100%;
	z-index: 100;
}
.fa-bars{
	color: #fff;
}
.scrolled{
	height: 70px;
	background-color: #469BAC;
	transition: 0.3s;
	box-shadow: 0px 4px 40px rgba(29, 80, 90, 0.15);
}
.menu{
	text-align: right;
	padding-top: 15px;
}
.menu ul li{
	display: inline-block;
	margin-left: 15px;
}
.menu ul li a{
	color: #fff;
	font-size: 18px;
}
.menu ul li a:hover{
	text-decoration: none;
	color: #1D505A;
	font-weight: bold;
}
.dropdown a{
	color: #fff !important;
	cursor: pointer;
}
.dropdown-menu li:hover{
	background-color: #469BAC !important;
}
.dropdown .fa-angle-right{
	color: #DADADA;
	opacity: 0.5;
}
.dropdown a:focus{
	font-weight: bold;
	font-style: italic;
}
.dropdown a:hover{
	color: #1D505A !important;
	font-weight: bold;
}
.dropdown-menu{
	background-color: rgb(0,0,0,0) !important;
	outline: 0 !important;
	border:0 !important;
	left: 0;
	margin-left: -13px !important;
	border-radius: 0 !important;
}
.dropdown-menu li{
	display: list-item !important;
	background: #FF8D43 !important;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	width: 100%;
	padding: 5px ;
	margin-bottom: 2px;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu:hover .dropdown-menu {display: block;}
.dropdown-submenu .dropdown-menu {
	top: -7px;
	left: 100%;
	margin-top: -1px;
	display: none ;
}

.humberger{
	display: none;
	font-size: 24px;
	padding-top: 5px;
}
.brand-logo {	
	padding-top: 5px;
}
.brand-logo img{
	max-height: 50px;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 101;
	top: 0;
	right: 0;
	background-color:#1D505A;
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 5%;
	left: 20px;
	width: 100%;
	text-align: left;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
	text-decoration: none;
}

.overlay .closebtn {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 40px;
}

.accordion {
	cursor: pointer;
	transition: 0.4s;
	margin-right: 15px;
	color: #fff !important;
}

.active, .accordion:hover {
	color: #ccc; 
}

.panel {
	display: none;
	overflow: hidden;
	color: #fff;
	padding-right: 10px;
}
.menu-product-list {
	margin-left: -25px;
}
.submenu-product-list{
	margin-left: -20px;
}
.menu-product-list li{
	list-style: none;
}

/*-- Login --*/
.bg-img-login{
	background-image: url(../home_assets/img/bg-login.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 5;
}
.header-login{
	z-index: 100;
	position: absolute;
}
#header-login a:hover{
	color: #fff;
	text-decoration: none;
}
#body-login{
	margin-top: -25px;
}
.footer-login{
	position: absolute;
	right: 60px;
	bottom: 0;
}
.bg-login{
	padding: 20px;
	margin: 0 20%;
	background: linear-gradient(110.52deg, #469BAC 27.02%, #DE3675 96.55%);
	box-shadow: 0px 4px 30px rgba(29, 80, 90, 0.25);
	border-radius: 4px;
}
.bg-login label{
	color: #fff;
}
.title-login{
	padding-top: 100px;
	text-align: center;
}

/*-- Home --*/
#banner{
}
.bg-gradient-soft{
	background: linear-gradient(180deg, rgba(85, 199, 222, 0.8) 0%, rgba(85, 199, 222, 0) 100%);
	background-blend-mode: multiply;
	height: 400px;
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
}
.banner img{
	max-height: 400px;
	min-height: 400px;
	width: 100%;
	opacity:1;
	z-index: 1;
	position: relative;
}
#banner h1{
	padding-top: 250px;
}
.title{
	font-weight: bold;
	font-size: 24px;
	color: #1D505A;
}
#about{
	padding-top: 50px;
}
.bg-img-about{
	z-index: -1;
}
.bg-img-about img{
	max-height: 399px;
	position: absolute;
	background-repeat: no-repeat;
	z-index: -1;
}
.description-about{
	padding: 0 20%;
	text-align: center;
	color: #1D505A;
	margin-bottom: 30px;
}
.product-card{
	margin-bottom: 40px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(29, 80, 90, 0.15);
}
.product-card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-cover img{
	min-height: 400px;
	max-height: 400px;
	width: 100%;
	border-radius: 4px;
	background-position: center;
	background-size: cover;
	object-fit: 
}
.body-card-product{
	padding: 30px 15px 15px 15px;
}
.body-card-product h5{
	font-weight: bold;
	color: #1D505A;
}
.body-card-product p{
	line-height: 24px;
	color: #1D505A;
	text-align: justify;
}

.content-product-about{
	margin-top: 20px;
	padding: 0 15%;
}
.icon {	
}
.icon img{
	max-height: 130px;
	margin-bottom: 25px;
}
#testimoni{
	margin: 100px 0;
}
.content-testimoni{
	padding: 0 20%;
}
.p-10{
	padding-left: 100px;
	padding-right: 100px;
}
.avatar-testimoni img{
	max-height: 100px;
	min-width: 100px;
	border-radius: 100px;
}
.text-testimoni{
	padding-top: 17px;
}
.text-testimoni p{
	color: #1D505A;
}
.carousel-control-prev {
	margin-top: 40px;
	height: 30px;
	max-width: 30px;
	border-radius: 100px;
	background-color: #FF8D43 !important;
}
.carousel-control-next {
	margin-top: 40px;
	height: 30px;
	max-width: 30px;
	border-radius: 100px;
	background-color: #FF8D43 !important;
}
.list-regis{
	list-style:none;
	counter-reset:mycounter;
	padding:0;
}
.list-regis li {
	position:relative; 
	margin-left: 50px;
	margin-bottom: 10px;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #1D505A;
}
.list-regis  li:before {
	content:counter(mycounter); 
	counter-increment:mycounter;
	position:absolute;
	top:0;
	left:-50px;
	width:23px;
	height:23px;
	font-size: 14px;
	line-height:25px;
	border-radius:50%;
	color:#fff;
	background:#DE3675;
	text-align:center;
}
.ilustation{
	text-align: right;
	position: absolute;
	right: 0;
	z-index: -1;
	margin-top: -600px;
}
.ilustation img{
	width: 45%;

}
.form-register-distributor{
	padding: 15px;
}
.form-register-distributor h2{
	font-size: 24px;
	font-weight: bold;
}
.form-register-distributor label{
	color: #fff;
}
.bg-gradient{
	background: linear-gradient(117.65deg, #469BAC 27.02%, #DE3675 96.55%);
	border-radius: 4px;
}
.checkbox-custom {
	opacity: 0;
	position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
	font-size: 14px;
}

.checkbox-custom + .checkbox-custom-label:before {
	content: '';
	background: #fff;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	padding: 2px;
	border-radius:100px;
	margin-right: 10px;
	text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
	font-family:FontAwesome;
	content: "\f00c";
	display: inline-block;
	text-align: center;
	background: rgb(0,0,0,0);
	margin-top: -10px;
	padding-top: -15px;
}
.checkbox-custom-label a{
	text-decoration: underline;
	font-weight: bold;
	color: #fff;
}
.footer-menu{
	margin-left: -40px;
}
.footer-menu li{
	display: inline-block;
	margin-right: 10px;
}
.footer-menu li a{
	color: #1D505A;
	font-size: 14px;
}
.footer-right{
	text-align: right;
}
.footer-right a{
	color: #000000;
}
.logo-footer{
	max-width: 120px;
}
/*-- Management Board --*/

/*-- Product List --*/
.p-60{
	padding: 0 10%;
}
.carousel .carousel-indicators {
	margin-bottom: -30px;
}
.carousel .carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	text-indent: -999px;
	cursor: pointer;
	border: 1px solid #757575;
	background: #757575;
}
/*-- Distributor List --*/
.distributor-card{
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.distributor-card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-cover-card{
	max-height: 150px;
	min-height: 150px;
	width: 100%;
	border-radius: 4px;
}
.logo-distributor{
	max-width: 100px;
	max-height:  100px;
	min-height:  100px;
	border-radius: 100%;
	margin-top: -50px;
	border:1px solid #f5f5f5;
}
.body-panel h5{
	font-size: 18px;
}
.name-distributor{
	color: #1D505A;
}
.body-panel h6{
	margin-bottom: 0;
	color: #1D505A;
	font-weight: bold;
	font-size: 16px;
}
.body-panel p{
	color: #1D505A;
	font-size: 16px;
}
.navbar-logo{
	position: fixed;
	z-index: 100;
	width: 100%;
}
#img-banner{
	padding-top: 70px;
}
.img-banner img{
	max-height: 350px;
	width: 100%;
	object-fit: cover;
}
.img-logo img{
	max-height: 100px;
	min-height: 100px;
	max-width: 100px;
	min-width: 100px;
	border-radius: 100px;
	margin-top: -50px;
	z-index: 5;
	border: 1px solid #f5f5f5;
	position: relative;
}
.img-photo{
	max-height: 200px;
	width: 100%;
	margin-bottom: 20px;
}
.margin-owl{
	padding-left: 70px;
}
.owl-nav{
	position: absolute;
	z-index: 99;
	padding-top: 180px;
	padding-left: 20px;
}
.fa-chevron-circle-left{
	cursor: pointer;
	font-size: 24px;
	color: #C4C4C4;
}
.fa-chevron-circle-left:hover{
	color: #1D505A;
}
.select-category .form-control{
	border:0;
	background-color: #469BAC;
	color: #fff;
	cursor: pointer;
}
.box-view{
	padding: 8px 0;
	border-radius: 4px;
	background-color: #469BAC;
	color: #fff;
}
.box-product{
	border-radius: 4px;
	width: 270px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
}
.box-product:hover{
	box-shadow: 0px 4px 20px rgba(29, 80, 90, 0.15);
}
.box-product h6{
	color: #1D505A;
}
.box-product p{
	color: #1D505A;
}
.img-cover-product img{
	max-height: 200px;
	min-height: 200px;
	max-width: 100%;
	border-radius: 4px;
}
.link-buy li{
	display: inline-block;
	margin-right: 5px;
}
.icon-link img{
	max-width: 35px;
	max-height: 35px;
	min-height: 35px;
	object-fit: cover;
	border-radius: 4px;
}
.link-buy li a:hover img{
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
} 

.modal-buy-produk label{
	color: #fff;
}
/*-- Color, btn, radius --*/
.b-r-4{
	border-radius: 4px;
}
.b-r-30{
	border-radius: 78.2487px;
}
.bg-grey{
	background-color: #E9E9E9;
}
.bg-grey2{
	background-color: #EDEEF3;
}
.bg-white{
	background-color: #fff;
}
.bg-orange{
	background-color: #FF8D43;
}
.bg-modal{
	background: linear-gradient(117.65deg, #469BAC 27.02%, #DE3675 96.55%);
}
.white{
	color: #fff;
}
.blue{
	color: #1D505A;
}
.grey{
	color: #888888;
}
.btn-back{
	color: #fff;
	font-weight: 600;
}
.btn-back:hover{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.btn-outline-orange{
	border: 1px solid #FF8D43;
	color: #FF8D43;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: 600;
}
.btn-outline-orange:hover{
	background-color: #FF8D43;
	border: 1px solid #FF8D43;
	color: #fff;
	text-decoration: none;
}
.btn-outline-white{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: 600;
}
.btn-outline-white:hover{
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	color: #FF8D43;
	padding: 5px 10px;
	text-decoration: none;
}
.btn-orange{
	background-color: #FF8D43;
	color: #fff !important;
	border-radius: 4px;
	padding: 5px 10px;
}
.btn-orange:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-blue{
	background-color: #469BAC;
	color: #fff !important;
	cursor: pointer;
	border-radius: 4px;
	padding: 5px 10px;
}
.btn-blue:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-submit button{
	background-color: #FF8D43;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
}
.btn-submit button:hover{
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-blue-soft{
	background-color: #E6F5F8;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color:#55C7DE !important;
	outline: 0;
	box-shadow: 0 0 0 0 #55C7DE;
}

/*-- DASHBOARD --*/
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: linear-gradient(0.11deg, #DDEFF2 0.01%, #FFEEF4 99.97%);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding:0 15px 15px 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}
.header-dashboard-left{
	margin-left: -35px;
	display: none;
}
.header-dashboard-left li{
	display: inline-block;
}
.menu-header-dashboard li a{
	color: #FF8D43;
}
.menu-header-dashboard li a:hover{
	text-decoration: none;
}
.menu-header-dashboard li{
	display: inline-block;	
	margin-left: 25px;
}
.header-dashboard{
	border-bottom: 1px solid #C4ECF4;
	height: 65px;
	padding-top: 15px;
}
.bg-sidemenu img{
	position: relative;
	bottom: -250px;
	height: 300px;
	width: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
.dropbtn {
	color: white;
	border: none;
	cursor: pointer;
}

.dropdown-hover {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 74.34px;
	text-align: center;
	padding-top: 3px;
	color: #fff;
	height: 31.33px;
	background: #FF8D43;
	border-radius: 4px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 73px;
	right: 0;
	margin-top: 7px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	margin-bottom: 5px;
	padding: 8px 0;
	color: #fff !important;
	background: #FF8D43;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	display: block;
}

/* dropdown click */
.dropbtn {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 74.34px;
	text-align: center;
	padding-top: 3px;
	color: #fff;
	height: 31.33px;
	background: #FF8D43;
	border-radius: 4px;
}
.dropbtn:focus {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 74.34px;
	text-align: center;
	padding-top: 3px;
	color: #fff;
	height: 31.33px;
	background: #FF8D43;
	border-radius: 4px;
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 73px;
	right: 0;
	text-align: center;
	margin-top: 7px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	margin-bottom: 5px;
	padding: 8px 0;
	color: #fff !important;
	background: #FF8D43;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	display: block;
}


.show {display: block;}
.badge{
	background-color: #DE3675 !important;
	color: #fff;
	border-radius: 30px !important;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #923900;
	padding-left: 20px;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: #FF8D43;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	padding-top: 7px;
	text-align: center;
	margin:0 20px;
	border-bottom: 1px solid #E8CFDA;
}
.sidebar-nav .active:after{
	content: url('../assets/img/polygon.png');
	color: #fff;
	max-height: 30px;
	right: 0;
	float: right;
	top: -39px;
	font-weight: bold;
	position: relative;
}
.sidebar-nav .active a{
	font-weight: bold;
}
.logo-mobile img{
	max-height: 30px;
}
.sidebar-nav > .sidebar-brand img {
	text-align: center;
	max-height:50px;
}
.logo-footer-dashboard{
}
.logo-footer-dashboard img{
	max-width: 120px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 24%;
	right: 15%;
}
.padding-content{
	padding-top: 30px;
}
.box-ava{
	width: 50%;
	padding: 20px 20px 0 20px;
}
.box-shadow{
	box-shadow: 0px 4px 40px rgba(29, 80, 90, 0.15);
	border-radius: 4px;
}
.ava img{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin-bottom: 20px;
}
.title-border{
	border-bottom: 1px solid #1D505A;
}
.arow-page i{
	color: #FF8D43;
	font-size: 24px;
}
.arow-page i:hover{
	color: #1D505A;
	cursor: pointer;
}
.page-number{
	text-align: right;
}
.page-number ul li{
	display: inline-block;
	list-style: none;
	margin-left: 10px;
}
.list-notification{
	border-bottom: 1px solid #DEF0F3;
	margin-bottom: 25px;
}
.list-notification h5{
	margin-bottom: 0px;
}
.readMore a{
	cursor: pointer;
	color: #1D505A !important;
}
.etalase-category .form-control{
	background-color: #FF8D43;
	outline: #FF8D43;
	color: #fff;
	border: 0;
}
.thumbnail-product{
	position: relative;
}
.thumbnail-product img{
	max-height: 200px;
	min-height: 200px;
	object-fit: cover;
	width: 100%; 
	border-radius: 4px;
	
}
.product-list{
	background: #FFFFFF;
	box-shadow: 0px 4px 40px rgba(29, 80, 90, 0.15);
	border-radius: 4px;
}
.link-produk {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 200px;
	min-height: 200px;
	opacity: 0;
	transition: .5s ease;
	background: rgba(0, 0, 0, 0.23);
}

.thumbnail-product:hover .link-produk {
	opacity: 1;
}
.link {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.link a{
	color: #fff !important;
	cursor: pointer;
}
.link a:hover{
	color: #FF8D43 !important;
}
.outline-grey{	
	border: 1px solid #888888;
	box-sizing: border-box;
	border-radius: 4px;
}
.btn-sum {
	background-color: #fff;
	color: #FF8D43 !important;
	border: 1px solid #fff !important;
	outline: 1px solid #fff !important;
	cursor: pointer;
	font-weight: bold;
}
.box-outline{
	color: #888888;
	border-left: 1px solid  #888888;
	border-right: 1px solid  #888888;
}
.box-outline input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.box-outline input{
	-moz-appearance:textfield; 
	border:0;
}
.box-outline input:focus{
	border:0;
	outline: 0;
}
.close-btn{
	position: absolute;
	z-index: 100;
	right: 35px;
	top: 30px;
}
.header3{
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	height: 70px;
}
.p-t-8{
	padding-top: 80px;
}
.img-product-buy img{
	max-height: 60px;
	min-height: 60px;
	max-width: 60px;
	min-width: 60px;
	object-fit: cover;
}
.table-cart tr{
	text-align: center;
}
.box-checkout{
	margin-top: 50px;
	padding: 20px;	
	box-shadow: 0px 4px 40px rgba(29, 80, 90, 0.15);
}
.list-product-checkout input{
	width: 100px;
}
.menu-setting {
	border-bottom: 1px solid #1D505A;
}
.menu-setting li a{
	color: #111;
}
.menu-setting li a.active{
	color: #469BAC;
	font-weight: bold;
}
.upload-btn input[type=submit]{
	background-color: #FF8D43;
	color: #fff;
	border:0;
	padding: 5px;
	border-radius: 4px;
}
.upload-btn input[type=file]{
	margin-bottom: 20px;
}
.img-thumbnail-cover img{
	max-height: 100px;
	max-width: 100px;
	margin-bottom: 20px;
}
.list-footer{
	margin-left: -15px;
}
.list-footer li{
	margin-bottom: 20px;
}
@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 0 20px 20px  20px;
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}

}
/*Responsive*/
@media (min-width: 120px) and (max-width: 320px) {
	.humberger{
		display: block;
	}
	.menu{
		display: none;
	}
	.overlay-content {
		left: 10px;
	}

	.overlay a {
		font-size: 18px;
	}
	.banner img{
		max-height: 300px;
		min-height: 300px;
		width: 100%;
		opacity:1;
	}
	.description-about{
		padding: 0 ;
	}
	.content-product-about{
		padding: 0 5%;
	}
	.img-cover img{
		min-height: 250px;
		max-height: 250px;
		width: 100%;
	}
	.content-testimoni{
		padding: 0 5%;
	}
	.carousel-control-prev {
		margin-top: 60px;
	}
	.carousel-control-next {
		margin-top: 60px;
	}
	.ilustation{
		display: none;
	}
	.footer-menu{
		text-align: center;
	}
	.footer-right{
		text-align: center;
		margin-bottom: 10px;
	}
	.p-10{
		padding-left: 20px;
		padding-right: 20px;
	}
	.bg-login{
		margin:0;
	}
	.footer-login{
		right: 20px;
	}
	.p-60{
		padding: 0;
	}
	.header-dashboard-left{
		display: block;
	}
	.menu-header-dashboard li{	
		margin-left: 5px;
	}
	.sidebar-brand {
		display: none;
	}
	.dropdown-hover {
		width: 55px;
		text-align: center;
		padding-top: 3px;
		color: #fff;
		height: 31.33px;
	}

	.dropdown-content {
		min-width: 55px;
		right: 0;
		margin-top: 7px;
		z-index: 1;
	}
	.box-ava{
		width: 100%;
		padding: 20px;
	}
	.page-number h6{
		display: none;
	}
	.page-number ul li{
		margin-left: 0;
	}
}
@media (min-width: 321px) and (max-width: 576px) {
	.humberger{
		display: block;
	}
	.menu{
		display: none;
	}
	.overlay-content {
		left: 10px;
	}
	.description-about{
		padding: 0 ;
	}
	.overlay a {
		font-size: 18px;
	}
	.banner img{
		max-height: 300px;
		min-height: 300px;
		width: 100%;
		opacity:1;
	}
	.content-product-about{
		padding: 0 5%;
	}
	.img-cover img{
		min-height: 250px;
		max-height: 250px;
		width: 100%;
	}
	.content-testimoni{
		padding: 0 5%;
	}
	.carousel-control-prev {
		margin-top: 100px;
	}
	.carousel-control-next {
		margin-top: 100px;
	}
	.ilustation{
		display: none;
	}
	.footer-menu{
		text-align: center;
	}
	.footer-right{
		text-align: center;
		margin-bottom: 10px;
	}
	.p-10{
		padding-left: 20px;
		padding-right: 20px;
	}
	.bg-login{
		margin:0;
	}
	.footer-login{
		right: 20px;
	}
	.p-60{
		padding: 0 ;
	}
	.header-dashboard-left{
		display: block;
	}
	.menu-header-dashboard li{	
		margin-left: 5px;
	}
	.sidebar-brand {
		display: none;
	}
	.logo-mobile img{
		max-height: 40px;
	}
	.box-ava{
		width: 100%;
		padding: 20px;
	}
	.page-number h6{
		display: none;
	}
	.page-number ul li{
		margin-left: 0;
	}
}
@media (min-width: 576px) and (max-width: 769px) {
	.humberger{
		display: block;
	}
	.menu{
		display: none;
	}
	.content-product-about{
		padding: 0;
	}
	.content-testimoni{
		padding: 0 10%;
	}
	.header-dashboard-left{
		display: block;
	}
	.menu-header-dashboard li{	
		margin-left: 25px;
	}
	.sidebar-brand {
		display: none;
	}
	.box-ava{
		width: 100%;
		padding: 20px;
	}
}

@media (min-width: 770px) and (max-width: 992px) {
	.humberger{
		display: block;
	}
	.menu{
		display: none;
	}
	.content-product-about{
		padding: 0 ;
	}
	.content-testimoni{
		padding: 0 5%;
	}
	.box-ava{
		width: 100%;
		padding: 20px;
	}
}

@media (min-width: 992px) and (max-width: 999px) {
	.box-ava{
		width: 80%;
		padding: 20px;
	}
}
@media (min-width: 999px) and (max-width: 1200px) {
	.box-ava{
		width: 80%;
		padding: 20px;
	}
}